@mixin input {
    width: 100px;
    height: 35px;
    border-radius: 4px;
    background-color: rgba(229, 246, 255, 1);
    font-size: 21px;
    padding: 0 10px;
    text-align: end;
    margin: 0 15px 0 25px;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 50px 0 auto 0;
    height: inherit;

    &__header {
        font-size: 36px;
        margin-left: 10px;
        white-space: nowrap;
    }

    &__selector-header {
        font-size: 24px;
        margin: 44px 0 55px 0;
    }

    &__area-cards {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 70%;
    }

    &__scheme {
        height: 33vh;
        width: 57vw;
        margin: 8vh 0 0 0px;
    }

    &__settings {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: auto;
        padding-left: 300px;
        margin-bottom: auto;

        &__first-row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-size: 21px;
            margin-top: 15px;
        }

        &__row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-size: 21px;
            margin-top: 37px;
        }

        &__input {
            @include input;
            border: 0px;

            &_error {
                @include input;
                border: 2px solid red;
            }
        }
    }
}
