.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 35px;
    background-color: rgba(125, 187, 191, 0.35);
    transition: 0.12s;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    color: black;

    &:hover {
        transition: 0.12s;
        background-color: rgba(125, 187, 191, 0.45);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: auto;
        padding-left: 300px;
    }

    &__link {
        margin-bottom: 17px;
        z-index: 1;
    }
}
